#IDX-saveSearch { display: none !important;}
.IDX-saveProperty {display: none !important;}
.IDX-detailsLink-moreInfo {display: none !important;}
.IDX-detailsLink-scheduleShowing {display: none !important;}
li.IDX-detailsLinkWrap-moreInfo {display: none !important;}
li.IDX-detailsLinkWrap-scheduleShowing {width: 170px !important;}
#AddlAgentInfo {display: block !important;}
#IDX-scheduleShowing {display: none !important;}
#IDX-detailscontactContactForm {display: none !important;}
#IDX-contactAgent {display: none !important;}
#IDX-moreInfo {display: none !important;}
